@model DubbeManus.Models.Series

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Velg serie</h2>
        @using (Html.BeginForm("Index", "Home"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.SeriesId, "Serie:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SeriesId", null, "Velg noe ...", htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit()" })
                    @Html.ValidationMessageFor(model => model.SeriesId, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @if (ViewBag.EpisodeId != null)
        {
using (Html.BeginForm("Index", "ScriptLines"))
{
                <input type="hidden" name="ChosenSeriesId" value="@ViewBag.ChosenSeriesId" />
    <div class="form-group">
        <div class="control-label" col-md-2>Episode</div>
        <div class="col-md-10">
            @Html.DropDownList("EpisodeId", null, "Velg noe ...", htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit()" })

        </div>
    </div>
}
        }

        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>